# https://fly.io/docs/reference/configuration/
app = "mona"
primary_region = "ord"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = "suspend"
  auto_start_machines = true
  min_machines_running = 0

[[http_service.checks]]
  grace_period = "1s"
  interval = "15s"
  method = "HEAD"
  timeout = "2s"
  path = "/healthcheck"
