name: CI
on:
  push:
    branches:
      - master
  pull_request:
permissions:
  contents: read
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: docker build .
  pyright:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - run: uv venv
      - run: uv sync
      - run: uv run pyright
  pytest:
    strategy:
      matrix:
        python-version: ["3.13"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - run: uv venv
      - run: uv sync
      - run: uv run pytest
        env:
          TVDB_API_KEY: ${{ secrets.TVDB_API_KEY }}
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - run: uvx ruff check
