name: Deploy
on:
  push:
    branches:
      - master
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    concurrency: deploy-group
    environment:
      name: production
      url: https://mona.fly.dev
    steps:
      - uses: actions/checkout@v6
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --depot
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
